# Virtual environment
venv/

# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Environment variables
.env

# Uploaded files
uploads/*

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite3